USE [QLDSV_HTC]
GO
/****** Object:  StoredProcedure [dbo].[SP_DOI_MATKHAU_SINHVIEN]    Script Date: 15/06/2024 9:19:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[SP_DOI_MATKHAU_SINHVIEN] @MASV NCHAR(10), @PASSOLD NVARCHAR(40), @PASSNEW NVARCHAR(40)
AS
BEGIN
	IF EXISTS (SELECT 1 FROM SINHVIEN WHERE SINHVIEN.MASV = @MASV AND SINHVIEN.PASSWORD = @PASSOLD)
	   BEGIN
	      UPDATE SINHVIEN
		  SET SINHVIEN.PASSWORD = @PASSNEW
		  WHERE SINHVIEN.MASV = @MASV
		  RETURN;
	   END
	ELSE
		BEGIN
			Raiserror('Sai Mật Khẩu', 12, 1)
		END
END
