USE [QLDSV_HTC]
GO
/****** Object:  StoredProcedure [dbo].[SP_HUYDANGKY_LTC]    Script Date: 06/04/2024 1:02:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[SP_HUYDANGKY_LTC] @MaLTC INT, @MaSV NCHAR(10)

AS
BEGIN
	IF EXISTS (SELECT 1 FROM DANGKY WHERE MALTC=@MaLTC AND MASV=@MaSV AND (HUYDANGKY=0 OR HUYDANGKY IS NULL))
		BEGIN
			UPDATE DANGKY
			SET HUYDANGKY=1
			WHERE MALTC=@MaLTC AND MASV=@MaSV
		END
END
