USE [QLDSV_HTC]
GO
/****** Object:  StoredProcedure [dbo].[SP_KIEMTRA_ID]    Script Date: 06/04/2024 12:57:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[SP_KIEMTRA_ID] @ID NCHAR(10), @TYPE NCHAR(20)
	
AS
BEGIN
	IF(@TYPE = 'MALOP')
	BEGIN
		IF EXISTS(SELECT * FROM LOP WHERE MALOP=@ID) RETURN 1;
		IF EXISTS(SELECT *FROM LINK0.QLDSV_HTC.dbo.LOP AS LOP WHERE LOP.MALOP=@ID) RETURN 2;
	END

	IF(@TYPE = 'MAMONHOC')
	BEGIN
		IF EXISTS(SELECT * FROM MONHOC WHERE MAMH=@ID) RETURN 1;
	END

	IF(@TYPE = 'MASV')
	BEGIN
		IF EXISTS(SELECT * FROM SINHVIEN WHERE MASV=@ID) RETURN 1;
		IF EXISTS(SELECT * FROM LINK0.QLDSV_HTC.dbo.SINHVIEN AS SINHVIEN WHERE SINHVIEN.MASV=@ID) RETURN 2;
	END

	RETURN 0
END
