USE [QLDSV_HTC]
GO
/****** Object:  StoredProcedure [dbo].[SP_KIEMTRA_TEN]    Script Date: 06/04/2024 12:57:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[SP_KIEMTRA_TEN] @NAME NCHAR(200), @TYPE NCHAR(50)
		
AS
BEGIN
	IF(@TYPE = 'TENLOP')
	BEGIN
		IF EXISTS(SELECT * FROM LOP WHERE TENLOP=@NAME) RETURN 1;
		IF EXISTS(SELECT *FROM LINK0.QLDSV_HTC.dbo.LOP AS LOP WHERE LOP.TENLOP=@NAME) RETURN 2;
	END

	IF(@TYPE = 'TENMONHOC')
	BEGIN
		IF EXISTS(SELECT * FROM MONHOC WHERE TENMH=@NAME) RETURN 1;
	END
	
	RETURN 0
END
