USE [QLDSV_HTC]
GO
/****** Object:  StoredProcedure [dbo].[SP_KIEMTRA_DANGNHAP]    Script Date: 15/06/2024 9:26:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* Lấy thông tin đăng nhập */
ALTER PROCEDURE [dbo].[SP_KIEMTRA_DANGNHAP] @TenDangNhap NVARCHAR(50)
	
AS
BEGIN
	DECLARE @TenUser NVARCHAR(50)
	SELECT @TenUser = NAME FROM sys.sysusers WHERE sid = SUSER_SID(@TenDangNhap)
	SELECT USERNAME = @TenUser,
	HOTEN = (SELECT HO+ ' '+ TEN FROM GIANGVIEN WHERE MAGV = @TenUser ),
	TENNHOM = NAME
	FROM sys.sysusers
	WHERE UID = (SELECT GROUPUID
		FROM SYS.SYSMEMBERS
		WHERE MEMBERUID = (SELECT UID FROM sys.sysusers
		WHERE NAME = @TenUser))
END
