USE [QLDSV_HTC]
GO
/****** Object:  StoredProcedure [dbo].[SP_KIEMTRA_DANGNHAP_SV]    Script Date: 06/04/2024 1:03:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[SP_KIEMTRA_DANGNHAP_SV] @TenDangNhap NVARCHAR(50), @MaSV NCHAR(10), @MatKhau NVARCHAR(40)
	
AS
BEGIN
	IF EXISTS (SELECT * FROM SINHVIEN SV WHERE SV.MASV=@MaSV AND SV.PASSWORD=@MatKhau)
	BEGIN
		DECLARE @TenUser NVARCHAR(50)
		SELECT @TenUser = NAME FROM sys.sysusers WHERE sid = SUSER_SID(@TenDangNhap)

		SELECT MASV=@MaSV, HOTEN=(SELECT HO+ ' '+ TEN FROM SINHVIEN WHERE MASV = @MaSV ),
		TENNHOM=(SELECT NAME
		FROM sys.sysusers
		WHERE UID = (SELECT GROUPUID
			FROM SYS.SYSMEMBERS
			WHERE MEMBERUID = (SELECT UID FROM sys.sysusers
			WHERE NAME=@TenUser)))
	END
END
