USE [QLDSV_HTC]
GO
/****** Object:  StoredProcedure [dbo].[SP_LAY_CT_DONGHOCPHI]    Script Date: 08/05/2024 4:31:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[SP_LAY_CT_DONGHOCPHI] 
    @MaSV NCHAR(10),
    @NienKhoa NCHAR(9),
    @HocKy INT
AS
BEGIN
    BEGIN
        SELECT NGAYDONG,SOTIENDONG FROM CT_DONGHOCPHI
		WHERE MASV=@MaSV AND NIENKHOA=@NienKhoa AND HOCKY=@HocKy
    END
END
