USE [QLDSV_HTC]
GO
/****** Object:  StoredProcedure [dbo].[SP_LAY_DS_NHOM]    Script Date: 06/04/2024 1:06:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[SP_LAY_DS_NHOM] @NienKhoa NCHAR(9), @HocKy INT, @MaMH NCHAR(10)
	
AS
BEGIN
	SELECT NHOM FROM LOPTINCHI 
	WHERE NIENKHOA = @NienKhoa AND HOCKY = @HocKy AND MAMH = @MaMH
	GROUP BY NHOM
END
