USE [QLDSV_HTC]
GO
/****** Object:  StoredProcedure [dbo].[SP_LAY_DS_DIEM]    Script Date: 15/06/2024 9:27:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[SP_LAY_DS_DIEM] @MaSV NCHAR(10)

AS
BEGIN
	SELECT HOCKY, NIENKHOA, DANGKY.MALTC, TENMH, DIEM_CC, DIEM_GK, DIEM_CK, DIEM_TK=0.3*DIEM_CC+0.1*DIEM_GK+0.6*DIEM_CK
	FROM DANGKY
	JOIN (SELECT MALTC,MAMH,NIENKHOA,HOCKY FROM LOPTINCHI) AS LTC ON LTC.MALTC=DANGKY.MALTC
	JOIN (SELECT MAMH,TENMH FROM MONHOC) AS MH ON MH.MAMH=LTC.MAMH
	WHERE DANGKY.MASV=@MaSV AND (HUYDANGKY=0 OR HUYDANGKY IS NULL)
END
