USE [QLDSV_HTC]
GO
/****** Object:  StoredProcedure [dbo].[SP_LAY_THONGTIN_SINHVIEN]    Script Date: 06/04/2024 1:08:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[SP_LAY_THONGTIN_SINHVIEN] @MaSV NCHAR(10)

AS
BEGIN
	IF EXISTS (SELECT 1 FROM SINHVIEN WHERE MASV=@MaSV)
		BEGIN
			SELECT MASV, HOTEN = HO + ' ' + TEN, SINHVIEN.MALOP, TENLOP, TENKHOA
			FROM SINHVIEN
			JOIN LOP ON LOP.MALOP = SINHVIEN.MALOP
			JOIN KHOA ON KHOA.MAKHOA = LOP.MAKHOA
			WHERE MASV=@MaSV
			RETURN 1
		END
	ELSE
		BEGIN
			RAISERROR('Sinh viên không tồn tại',16,1);
			RETURN 0;
		END
END
