USE [QLDSV_TC]
GO
/****** Object:  StoredProcedure [dbo].[SP_LAY_DS_TATCA_MONHOC]    Script Date: 6/15/2024 10:11:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_LAY_DS_TATCA_MONHOC]

AS

BEGIN

SELECT * FROM MONHOC 

END