USE [QLDSV_HTC]
GO
/****** Object:  StoredProcedure [dbo].[SP_LAY_DS_LTC]    Script Date: 20/06/2024 9:46:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[SP_LAY_DS_LTC] @NienKhoa NVARCHAR(10), @HocKy INT, @Nhom INT, @MonHoc NCHAR(10)
AS
BEGIN
	SELECT LTC.MALTC, 
	TENMH=(SELECT TENMH FROM MONHOC WHERE MONHOC.MAMH=LTC.MAMH), 
	NHOM, 
	HOTEN=(SELECT HO + ' ' + TEN FROM SINHVIEN WHERE SINHVIEN.MASV=DK.MASV)
	FROM (SELECT MALTC,NHOM,MAMH FROM LOPTINCHI WHERE NIENKHOA = @NienKhoa AND HOCKY = @HocKy 
	AND NHOM = @Nhom AND MAMH = @MonHoc
	) LTC,
	(SELECT MALTC,MASV,HUYDANGKY FROM DANGKY WHERE (HUYDANGKY=0 OR HUYDANGKY IS NULL)) DK 
	WHERE DK.MALTC=LTC.MALTC
END
