USE [QLDSV_HTC]
GO
/****** Object:  StoredProcedure [dbo].[SP_LAY_DS_MONHOC]    Script Date: 15/06/2024 9:29:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[SP_LAY_DS_MONHOC] @NienKhoa NCHAR(9), @HocKy INT
	
AS
BEGIN
	SELECT MH.MAMH, MH.TENMH FROM LOPTINCHI 
	JOIN (SELECT MAMH, TENMH FROM MONHOC) MH ON LOPTINCHI.MAMH = MH.MAMH
	WHERE NIENKHOA = @NienKhoa AND HOCKY = @HocKy GROUP BY MH.MAMH, MH.TENMH
END
