USE [QLDSV_TC]
GO
/****** Object:  StoredProcedure [dbo].[SP_LAY_DS_LOP]    Script Date: 6/15/2024 4:32:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_LAY_DS_LOP] @maKhoa NVARCHAR(10)
AS
BEGIN
	SELECT MALOP FROM LOP WHERE MAKHOA = @maKhoa	
END