USE [QLDSV_TC]
GO
/****** Object:  StoredProcedure [dbo].[SP_LAY_KHOAHOC]    Script Date: 6/15/2024 4:32:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_LAY_KHOAHOC] @maLop NCHAR(10)

AS

BEGIN

SELECT KHOAHOC FROM LOP WHERE MALOP = @maLop

END