USE [QLDSV_HTC]
GO
/****** Object:  StoredProcedure [dbo].[SP_LAY_DSSV_DANGKY]    Script Date: 20/06/2024 10:13:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[SP_LAY_DSSV_DANGKY] @MALTC INT

AS
BEGIN
	SELECT @MALTC LOPTC, SV.MASV, HOTEN, DIEM_CC, DIEM_GK, DIEM_CK, DIEM_TK = DIEM_CC*0.1 + DIEM_GK*0.3 + DIEM_CK*0.6 
	FROM (SELECT MASV, DIEM_CC, DIEM_GK, DIEM_CK FROM DANGKY WHERE MALTC = @MALTC AND HUYDANGKY='FALSE') DSDK,
	(SELECT MASV,HOTEN = HO + ' ' + TEN FROM SINHVIEN) SV
	WHERE DSDK.MASV = SV.MASV
	ORDER BY SV.MASV
END
