USE [QLDSV_HTC]
GO
/****** Object:  StoredProcedure [dbo].[SP_LAY_HOCPHI]    Script Date: 15/06/2024 9:29:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[SP_LAY_HOCPHI] @MaSV NCHAR(10)

AS
BEGIN
	IF EXISTS(SELECT 1 FROM SINHVIEN WHERE MASV=@MaSV)
		BEGIN
			SELECT HP.NIENKHOA,HP.HOCKY,HP.HOCPHI, DADONG=isnull((SELECT SUM(CTHP.SOTIENDONG)),0)  
			FROM (SELECT NIENKHOA,HOCKY,HOCPHI FROM HOCPHI WHERE MASV=@MaSV) HP 
			LEFT JOIN (SELECT NIENKHOA,HOCKY,SOTIENDONG FROM CT_DONGHOCPHI WHERE MASV=@MASV) CTHP
			ON HP.NIENKHOA=CTHP.NIENKHOA  AND HP.HOCKY=CTHP.HOCKY
			GROUP BY HP.NIENKHOA,HP.HOCKY,HP.HOCPHI
			ORDER BY HP.NIENKHOA,HP.HOCKY ASC
		END
	ELSE
		BEGIN
			RAISERROR('Sinh viên không tồn tại', 16, 1)
		END
END
