USE [QLDSV_HTC]
GO
/****** Object:  StoredProcedure [dbo].[SP_LAY_DS_NIENKHOA]    Script Date: 06/04/2024 1:07:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[SP_LAY_DS_NIENKHOA]
	
AS
BEGIN
	SELECT NIENKHOA FROM LOPTINCHI GROUP BY NIENKHOA
END
