USE [QLDSV_TC]
GO
/****** Object:  StoredProcedure [dbo].[SP_LAY_DS_TATCA_GIANGVIEN]    Script Date: 6/15/2024 10:06:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[SP_LAY_DS_TATCA_GIANGVIEN]

AS

BEGIN

SELECT MAGV, HO + ' ' + TEN AS HoTen, * FROM GIANGVIEN;

END
