USE [QLDSV_HTC]
GO
/****** Object:  StoredProcedure [dbo].[SP_REPORT_BANGDIEM_MONHOC]    Script Date: 15/06/2024 6:10:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[SP_REPORT_BANGDIEM_MONHOC] 
    @NienKhoa NCHAR(9), 
    @HocKy INT, 
    @MonHoc NCHAR(10), 
    @Nhom INT
AS
BEGIN
    DECLARE @MaLTC INT
    
    SELECT @MaLTC = MaLTC 
    FROM LOPTINCHI
    WHERE NIENKHOA = @NienKhoa AND HOCKY = @HocKy AND MAMH = @MonHoc AND NHOM = @Nhom

    SELECT  D.MASV,  SV.HO,  SV.TEN,  D.DIEM_CC, D.DIEM_GK, D.DIEM_CK, DIEM_TK = D.DIEM_CC * 0.1 + D.DIEM_GK * 0.3 + D.DIEM_CK * 0.6
    FROM DANGKY AS D
    JOIN (SELECT MASV,HO,TEN FROM SINHVIEN) AS SV ON D.MASV = SV.MASV
    WHERE D.MALTC = @MaLTC AND (D.HUYDANGKY = 0 OR D.HUYDANGKY IS NULL)
    ORDER BY SV.TEN, SV.HO
END
