USE [QLDSV_HTC]
GO
/****** Object:  StoredProcedure [dbo].[SP_REPORT_DS_LOPTINCHI]    Script Date: 15/06/2024 9:31:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[SP_REPORT_DS_LOPTINCHI] @NienKhoa NCHAR(9), @HocKy INT

AS
BEGIN
	SELECT TENMH=(SELECT TENMH FROM MONHOC WHERE MONHOC.MAMH=LOPTINCHI.MAMH),
	NHOM, GIANGVIEN=(SELECT HO+' '+TEN FROM GIANGVIEN WHERE GIANGVIEN.MAGV=LOPTINCHI.MAGV),
	SOSVTOITHIEU, DADANGKY=(SELECT COUNT(*) FROM DANGKY WHERE DANGKY.MALTC=LOPTINCHI.MALTC AND (HUYDANGKY=0 OR HUYDANGKY IS NULL))
	FROM LOPTINCHI
	WHERE NIENKHOA=@NienKhoa AND HOCKY=@HocKy AND HUYLOP=0
	ORDER BY TENMH, NHOM
END
