USE [QLDSV_TC]
GO
/****** Object:  StoredProcedure [dbo].[SP_REPORT_BANGDIEM_TONGKET]    Script Date: 6/22/2024 3:48:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_REPORT_BANGDIEM_TONGKET]
    @MaLop NCHAR(10)
AS
BEGIN
	SELECT (SV.MASV + ' ' +SV.HO + ' ' + SV.TEN) AS 'MASV - Họ Tên', MH.TENMH, 
        DIEM = MAX(DK.DIEM_CC*0.1 + DK.DIEM_GK*0.3 + DK.DIEM_CK*0.6)
        FROM (SELECT MASV, HO, Ten, MALOP FROM SINHVIEN) AS SV
        JOIN (SELECT MALTC, MASV, DIEM_CC, DIEM_GK, DIEM_CK, HUYDANGKY FROM DANGKY) AS DK ON DK.MASV = SV.MASV
        JOIN (SELECT MALTC, MAMH, HUYLOP FROM LOPTINCHI) AS LTC ON LTC.MALTC = DK.MALTC
        JOIN (SELECT MAMH, TENMH FROM MONHOC) AS MH ON MH.MAMH = LTC.MAMH
		WHERE SV.MALOP = @MaLop AND LTC.HUYLOP = 0 AND DK.HUYDANGKY = 0
		GROUP BY SV.MASV , SV.HO , SV.TEN , MH.TENMH 
		ORDER BY SV.MASV	

		
END