USE [QLDSV_HTC]
GO
/****** Object:  StoredProcedure [dbo].[SP_REPORT_HOCPHI]    Script Date: 15/06/2024 9:31:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[SP_REPORT_HOCPHI]
    @MaLop NCHAR(10),
    @NienKhoa NCHAR(9),
    @HocKy INT
AS
BEGIN
    IF EXISTS (SELECT 1 FROM SINHVIEN JOIN HOCPHI ON HOCPHI.MASV = SINHVIEN.MASV 
	    WHERE SINHVIEN.MALOP = @MaLop and HOCPHI.NIENKHOA = @NienKhoa and HOCPHI.HOCKY = @HocKy)
		BEGIN
			SELECT SV.HOTEN, HP.HOCPHI, SOTIENDONG
			FROM (SELECT MASV, SINHVIEN.HO+' '+SINHVIEN.TEN AS HOTEN FROM SINHVIEN WHERE MALOP = @MALOP) SV 
			JOIN (SELECT MASV,HOCPHI,NIENKHOA,HOCKY FROM HOCPHI) AS HP ON SV.MASV=HP.MASV
			LEFT JOIN CT_DONGHOCPHI ON CT_DONGHOCPHI.MASV=HP.MASV AND HP.HOCKY=CT_DONGHOCPHI.HOCKY 
			AND HP.NIENKHOA=CT_DONGHOCPHI.NIENKHOA
			WHERE HP.NIENKHOA=@NienKhoa AND HP.HOCKY=@HocKy
			return 1
		END
	ELSE
		BEGIN
		   RAISERROR('Không có thông tin về học phí bạn tìm',16,2);
		   return 0;
		END 
END
