USE [QLDSV_HTC]
GO
/****** Object:  StoredProcedure [dbo].[SP_LAY_DS_LTC]    Script Date: 15/06/2024 7:53:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_TIM_MA_LTC] @NienKhoa NVARCHAR(10), @HocKy INT, @Nhom INT, @MonHoc NCHAR(10)
AS
BEGIN
	SELECT MALTC
	FROM LOPTINCHI 
	WHERE LOPTINCHI.NIENKHOA = @NienKhoa AND LOPTINCHI.HOCKY = @HocKy 
	AND LOPTINCHI.NHOM = @Nhom AND LOPTINCHI.MAMH = @MonHoc
END
