USE [QLDSV_HTC]
GO
/****** Object:  StoredProcedure [dbo].[SP_TAO_TAIKHOAN]    Script Date: 14/04/2024 2:10:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[SP_TAO_TAIKHOAN] @LGNAME VARCHAR(50), @PASS VARCHAR(50), @USERNAME VARCHAR(50), @ROLE VARCHAR(50)
AS
BEGIN
	DECLARE @RET INT
	EXEC @RET= SP_ADDLOGIN @LGNAME, @PASS, 'QLDSV_HTC'
	IF (@RET = 1)
	BEGIN
		RAISERROR('Login name bị trùng', 16, 1)
		RETURN
	END
	EXEC @RET= SP_GRANTDBACCESS @LGNAME, @USERNAME
	IF (@RET = 1)
	BEGIN
		EXEC SP_DROPLOGIN @LGNAME
		RAISERROR('Nhân viên đã có login name', 16, 2)
	END
	EXEC SP_ADDROLEMEMBER @ROLE, @USERNAME
	EXEC SP_ADDSRVROLEMEMBER @LGNAME, 'SecurityAdmin'
END
