<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="QuanLyDiemSinhVien.Properties.Settings.QLDSV_HTCConnectionString"
      connectionString="Data Source=DESKTOP-UHICCE5;Initial Catalog=QLDSV_HTC;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
      providerName="System.Data.SqlClient" />
    <add name="QLDSV_HTCConnectionString" connectionString="xpoprovider=MSSqlServer;data source=DESKTOP-UHICCE5;initial catalog=QLDSV_HTC;integrated security=True;encrypt=True;trustservercertificate=True" />
  </connectionStrings>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>System</value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>